<!--Grocery List-->
<div ng-controller="GrocerylistCtrl as ctrl">
  <div class="page-header">
    <h1>Grocery List</h1>
  </div>

  <div class="form-group">
    <form name="queryForm" novalidate class="form-inline">
      <label for="search">Search:</label>
      <input id="search" class="form-control" type="search" name="search" placeholder="Search Brand or Product Name..." ng-model="ctrl.searchFilter" required>
    </form>
  </div>    
  <div class="container">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>UPC12 Barcode</th>
            <th>Brand</th>
            <th>Product Name</th>
          </tr>
        </thead> 
        <tbody>
          <tr ng-repeat="list in ctrl.listAll | filter:ctrl.searchFilter | limitTo: 20 | orderBy:'name' track by $index ">
            <td><img ng-src="http://www.barcodes4.me/barcode/c128a/{{list.upc12}}.png?IsTextDrawn=1" alt="Description" /></td>
            <td>{{list.brand}}</td>
            <td>{{list.name}}</td>
            <td>
              <button type="button" class="btn btn-link btn-sm" ng-click="ctrl.goEdit(list.id)">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              </button>
            </td>
          </tr>
        </tbody>       
      </table>
  </div>
</div>